<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <title>Reviews</title>
    <!-- Include Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container mt-5">
    <h1 class="mb-4">Reviews</h1>
    <a th:href="@{/reviews/add}" class="btn btn-primary mb-4">Add Review</a><br>
    <a href="/" class="btn btn-secondary mx-2">Home</a>
    <ul class="list-group">
        <li class="list-group-item" th:each="review : ${reviews}">
            <p class="mb-1 font-weight-bold" th:text="${review.content}"></p>
            <small th:text="'Rating: ' + ${review.rating}"></small>
            <br>
            <small th:text="'Movie: ' + ${review.movie.title}"></small>
        </li>
    </ul>
</div>

<!-- Include Bootstrap JS and dependencies -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>

